*.glb filter=lfs diff=lfs merge=lfs -text
assets/ANGEL.glb filter=lfs diff=lfs merge=lfs -text
assets/nike2.glb filter=lfs diff=lfs merge=lfs -text
gh_pages_temp/assets/ANGEL.glb filter=lfs diff=lfs merge=lfs -text
gh_pages_temp/assets/nike2.glb filter=lfs diff=lfs merge=lfs -text
webbuild/assets/nike2.glb filter=lfs diff=lfs merge=lfs -text